/* Normalize Css*/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/iran-yekan/eot/iranyekanwebboldfanum.eot");
  src: url("../fonts/iran-yekan/eot/iranyekanwebboldfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/iran-yekan/woff/iranyekanwebboldfanum.woff") format("woff"), url("../fonts/iran-yekan/ttf/iranyekanwebboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/iran-yekan/eot/iranyekanwebthinfanum.eot");
  src: url("../fonts/iran-yekan/eot/iranyekanwebthinfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/iran-yekan/woff/iranyekanwebthinfanum.woff") format("woff"), url("../fonts/iran-yekan/ttf/iranyekanwebthinfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/iran-yekan/eot/iranyekanweblightfanum.eot");
  src: url("../fonts/iran-yekan/eot/iranyekanweblightfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/iran-yekan/woff/iranyekanweblightfanum.woff") format("woff"), url("../fonts/iran-yekan/ttf/iranyekanweblightfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/iran-yekan/eot/iranyekanwebregularfanum.eot");
  src: url("../fonts/iran-yekan/eot/iranyekanwebregularfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/iran-yekan/woff/iranyekanwebregularfanum.woff") format("woff"), url("../fonts/iran-yekan/ttf/iranyekanwebregularfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/iran-yekan/eot/iranyekanwebmediumfanum.eot");
  src: url("../fonts/iran-yekan/eot/iranyekanwebmediumfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/iran-yekan/woff/iranyekanwebmediumfanum.woff") format("woff"), url("../fonts/iran-yekan/ttf/iranyekanwebmediumfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/iran-yekan/eot/iranyekanwebextraboldfanum.eot");
  src: url("../fonts/iran-yekan/eot/iranyekanwebextraboldfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/iran-yekan/woff/iranyekanwebextraboldfanum.woff") format("woff"), url("../fonts/iran-yekan/ttf/iranyekanwebextraboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/iran-yekan/eot/iranyekanwebblackfanum.eot");
  src: url("../fonts/iran-yekan/eot/iranyekanwebblackfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/iran-yekan/woff/iranyekanwebblackfanum.woff") format("woff"), url("../fonts/iran-yekan/ttf/iranyekanwebblackfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 950;
  src: url("../fonts/iran-yekan/eot/iranyekanwebextrablackfanum.eot");
  src: url("../fonts/iran-yekan/eot/iranyekanwebextrablackfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/iran-yekan/woff/iranyekanwebextrablackfanum.woff") format("woff"), url("../fonts/iran-yekan/ttf/iranyekanwebextrablackfanum.ttf") format("truetype");
}

body {
  font-family: iranyekan;
  height: 100%;
  width: 100%;
}

#app {
  min-height: 100vh !important;
}

.left-section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3275ff), to(#6b99ff));
  background-image: linear-gradient(#3275ff, #6b99ff);
  background-size: cover;
  position: relative;
}

.left-section img {
  width: 75%;
  height: 75%;
}

.right-section p {
  margin: 5% auto;
  font-weight: bold;
  width: 75%;
  text-align: center;
  color: #3275ff;
}

.btn-sign:hover {
  background-color: rgba(13, 71, 161, 0.8);
  color: #fff;
  border-radius: 50px;
}

.btn-main {
  min-width: 80px;
  border-radius: 50px;
  font-weight: bold;
  background-color: #0D47A1;
}

.img-container img {
  max-width: 450px;
}

.form-control {
  border: 0px;
  border-bottom: 2px solid rgba(13, 71, 161, 0.8);
  border-radius: 0;
  font-weight: bold;
}

.form-control:focus {
  outline: 0 none !important;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(126, 239, 104, 0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(126, 239, 104, 0);
}

#footer {
  font-size: .8em;
}

.noay-link {
  color: #1295f9;
}

.noay-link:hover {
  color: #0aa7ff;
}

@media only screen and (max-width: 576px) {
  .sign-form-container {
    width: 100% !important;
  }
}
